<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title LightBox Demo
  link(type="text/css",rel="stylesheet",href="style.css")
body
  .container
    .a
      h1 Rohan LightBox
    .x.opacity
    .images
      ul
        li
          a(href="a1.jpg")
            img(src="a1.jpg", alt="")
              
        li
          a(href="a1.jpg")
            img(src="a1.jpg", alt="")
        li
          a(href="a1.jpg")
            img(src="a1.jpg", alt="")
        li
          a(href="a1.jpg")
            img(src="a1.jpg", alt="")
        li
          a(href="a1.jpg")
            img(src="a1.jpg", alt="")
        li
          a(href="a1.jpg")
            img(src="a1.jpg", alt="")
        li
          a(href="a1.jpg")
            img(src="a1.jpg", alt="")
        li
          a(href="a1.jpg")
            img(src="a1.jpg", alt="")
        li
          a(href="a1.jpg")
            img(src="a1.jpg", alt="")  
  <script src="bower_components/jquery/dist/jquery.js"></script>
  script(src="lightbox.js")
